---
import BaseLayout from "@layouts/BaseLayout.astro";
import type { GetStaticPathsResult } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title}>
  <article>
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</BaseLayout>
