---
import BaseLayout from "@layouts/BaseLayout.astro";

---

<BaseLayout title="Berkay Ergin | About Me">
  <article>
    <h1>Who am I?</h1>
    <p>Hey there. My name is Berkay. I am a software engineer from Turkey.</p>
  </article>
</BaseLayout>